.Navbar-Container {
    display: flex;
    top: 1em;
    right: 1em;
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    color: var(--background);
    font-size: 1.5em;
    z-index: 1;
}

.Navbar-Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    transition: 200ms;
    background-color: var(--secondary);
    height: 2em;
    width: 2em;
}

.Navbar-Icon:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    width: 8em;
}

.Navbar-Label {
    display: none;
    font-size: 1em;
    margin-right: 10px;
}

.Navbar-Icon:hover .Navbar-Label{
    display: block;
}

.Navbar-Top {
    border-radius: 10px 10px 0 0;
}

.Navbar-Bottom {
    border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1600px) {
    .Navbar-Container {
        flex-direction: row;
    }

    .Navbar-Icon:hover .Navbar-Label{
        display: none;
    }

    .Navbar-Top {
        border-radius: 10px 0 0 10px ;
    }
    
    .Navbar-Bottom {
        border-radius: 0 10px 10px 0;
    }

    .Navbar-Icon:hover {
        background-color: var(--tertiary);
        color: var(--primary);
        width: 2em;
    }
}
