.Icon-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    color: var(--primary);
    border: 1px var(--background) solid;
    border-radius: 10px;
    width: 2.2em;
    height: 2.2em;
    font-size: 2em;
    margin: 1vmin;
    transition: 200ms;
}

.Icon-Container:hover {
    color: #6f7583;
    background-color: #6f7583;
}

.Icon-Container:hover .Tool-Tip {
    transition: 200ms;
    opacity: 1;
}