.Modal-Container-shown {
    position: fixed;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    transition: 400ms;
}
.Modal-Container-hidden {
    visibility: hidden;
    position: fixed;
    display: flex;
    opacity: 0;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    transition: 400ms;
}

.Modal-Close {
    cursor: pointer;
    position: relative;
    top: 7.5vh;
    left: 58.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6vw;
    font-size: 1.5vw;
    width: 1vw;
    height: 1vw;
    border-radius: 20em;
    background-color: var(--primary);
    color: var(--background);
    z-index: 4;
    transition-duration: 200ms;
}

@media only screen and (max-width: 1000px) {
    .Modal-Close {
        left: 87.5vw;
        top: 8.5vh;
        width: 3vw;
        height: 3vw;
        font-size: 3vw;
    }
  }

.Modal-Close:hover {
    background-color: #ec8c8c;
}

.Modal-Window {
    z-index: 2;
}
.Modal-Content {
    margin-top: 5vh;
    background-color: var(--tertiary);
    padding: 5px;
    display: flex;
    border-radius: 5px;
}
