.Section-Container {
    display: flex;
    margin-right:25vh;
    min-height: 100vh;
}
.Vertical-Text {
    display: flex;
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: 'Open Sans', 'Ubuntu', 'Oxygen', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: var(--primary);
    font-size: 4rem;
    padding: 10vmin;
}
@media only screen and (max-width: 1600px) {
    .Section-Container {
        margin-right: 0px;
        flex-direction: column;
    }
    .Vertical-Text {
        writing-mode: horizontal-tb;
        font-size: 2rem;
        padding: 0 0 0 1vmin;
    }
}
